beautifulsoup4==4.3.2
bson==0.3.3
mongokit==0.9.1.1
pymongo==2.7.2
pytz==2014.10
requests==2.5.0
pytest==2.6.4
pytest-cov==1.8.1
arrow==0.4.4
python-dateutil==2.3
coverage==3.7.1
sortedcontainers==0.9.4